.hero {
    background-image: url(../img/background.jpg);
    background-size: cover;
    background-position: center;

    .container {
        column-gap: 0;
    }

    .hero-content {
        grid-column: -1;
        grid-row: 2;
        justify-self: end;
        max-width: 80%;
        background-color: rgba(0, 0, 0, .5);
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        padding: 2.5rem;
        margin-top: 20vh;
        margin-bottom: 10vh;
    }

    h1 {
        color: #fff;
        font-size: 6.8rem;
        font-family: 'Raleway', sans-serif;
        font-weight: 700;
        text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
        margin-bottom: 3rem;
    }

    a {
        font-size: 4rem;
        font-weight: 600;
        background-color: $primary;
        padding: 2rem 3rem;
        transition: color .3s ease-in-out, background-color .3s ease-in-out;

                &:hover,
                &:focus {
                  color: $primary;
                  background-color: #fff;
                }
    }
}

@media screen and (min-width: 100em) {
    .hero h1 {
        font-size: 7.2rem;
    }
}

.news,
.courses,
.students {
    h2 {
        grid-column: span 12;
        font-size: 4.8rem;
        font-weight: 700;
        text-align: center;
    }
}

.news .card {
    grid-column: span 12;
}

.courses .card {
    grid-column: span 12;
}

@media screen and (min-width: 48em) {
    .news .card {
        grid-column: span 4;
    }
    
    .courses .card {
        grid-column: span 6;
    }
}

.students {
    background-color: $primary;
    color: #fff;
    text-align: center;
}

.student-presentation {
    grid-column: span 12;
    display: grid;
    grid-template-columns: repeat(12, 1fr);

    li {
        grid-column: span 12;
        display: flex;
        flex-direction: column;
        align-items: center;

    li {
        grid-column: span 12;
        display: flex;
        flex-direction: column;
        align-items: center;
<<<<<<< HEAD
        max-width: max-content;
        position: relative;
=======
>>>>>>> responsive
>>>>>>> Stashed changes

        & > * {
            margin-bottom: 2rem;
        }

        img {
            border-radius: 50%;
            width: 220px;
        }

        p {
            font-size: 2.4rem;
            font-weight: 600;
        }

        a {
            text-decoration: underline;
        }
    }
}

@media screen and (min-width: 36em) {
    .student-presentation li {
        grid-column: span 6;
        column-gap: 5rem;
    }
}

@media screen and (min-width: 48em) {
    .student-presentation li {
        grid-column: span 3;
        column-gap: 10rem;
    }
}