// -------------------- Colors ----------------
$primary: #FD7E37;
$noir: #331100;
$gris: #707070;
$marron: #663014;

// ------------------- Layouts ----------------
%cards {
    box-shadow: 0px 0px 48px rgba(0, 0, 0, 0.16);
    padding-left: 1.5rem;
    padding-right: 1.5rem;

    img {
        margin-left: -1.5rem;
        margin-right: -1.5rem;
        max-width: calc(100% + 3rem);
        border-radius: .4rem .4rem 0 0;
    }

    .date {
        display: flex;
        align-items: center;
        color: $marron;
    }

    svg {
        width: 1.5rem;
        fill: transparent;
        margin-right: .8rem;
    }

    h3 {
        font-family: "Raleway", sans-serif;
        font-weight: 600;
        font-size: 2.4rem;

        &+p {
            font-size: 2rem;
        }
    }
}