.container {
    row-gap: 4rem;
}

h1 {
    grid-column: span 12;
    text-align: center;
}

.description {
    max-width: 65%;
    grid-column: span 12;
    justify-self: center;
}

.modules {
    padding-top: 0;

    .container {
        column-gap: 3.2rem;
    }

    .card {
        grid-column: span 6;
    }
}